[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-keyvault = "*"
azure-identity = "*"
django = "*"
psycopg2-binary = "*"
redis = "*"
requests = "*"
rq = "*"
sentry-sdk = "*"
authlib = "*"
tenacity = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]
coverage = "*"
black = "==21.10b0"
flake8 = "*"
mypy = "*"
xenon = "*"
responses = "*"
django-stubs = "*"
types-requests = "*"
types-redis = "*"
pytest = "*"
ptpython = "*"
isort = "*"
