{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; <a href="{% url 'admin:app_list' 'mids' %}">Mids</a>
    &rsaquo; <a href="{% url 'admin:mids_batch_changelist' %}">Batches</a>
    &rsaquo; {{title}}
</div>
{% endblock breadcrumbs %}

{% block content %}
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {{form}}
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

{% if file_errors %}
    <table>
    <tr><th>MID</th><th>Errors</th>
    {% for mid, errors in file_errors.items %}
    <tr>
        <td>{{mid}}<td>
        <td>
            <ul>
                {% for error in errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock content %}
